html,
body,
#app {
  font-family: var(--font-family-sans);
}

body {
  min-height: var(--full-height);
  color: var(--text-primary);
  background: var(--bg-app);
}

a {
  color:  var(--purple);
}

a:hover {
  color: var(--pink);
}

header,
footer {
  background-color: var(--bg-surface);
  color: var(--text-muted);
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  border-bottom: 1px solid #7a7a7a31;
  box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.12);
}

header ul {
  list-style: none;
  display: flex;
  gap: var(--space-fl);
  padding: 0;
  margin: 0;
}

header h1 a {
  margin-left: var(--space-sm);
  text-decoration: none;
  color: var(--text-muted);
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: var(--full-height);
  padding: 0 var(--space-md)
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: .5rem var(--space-fl) calc(var(--footer-height) + .5rem);
}

p {
  margin-bottom: var(--space-fl);
  font-size: var(--txt-md);
}

h1 {
  font-size: 1.75rem;
  line-height: 1.1;
}

/* Buttons */

button {
  border-radius: var(--radius-sm);
  border: var(--border-transparent);
  padding: .2rem .4rem;
  font-size: var(--txt-md);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-button);
  color: var(--text-button);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 3px 9px var(--shadow-button);
}

button:hover {
  border-color: var(--bg-hover);
  color: white;
}

.btn {
  cursor: pointer;
  border: var(--border-transparent);
  color: var(--text-button);
}

.btn.secondary {
  background: transparent;
  color: var(--text-muted);
  border-color: var(--bg-secondary);
}

.btn.secondary:hover {
  background-color: var(--bg-active);
}

.btn.primary, .btn.primary.purple  {
  background: var(--purple);
}

.btn.primary.danger {
  background: var(--red);
}

.btn.primary.purple:hover, .btn.primary.danger:hover, .btn.primary:hover {
  background: var(--pink);
}

.btn.primary.standard {
  background: var(--yellow);
  border-color: transparent;
}

.btn.primary.cool {
  background: var(--blue);
}

.btn.primary.standard:hover, .btn.primary.cool:hover {
  background: var(--orange);
}

/* Modals */

.backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop);
  display: grid;
  place-items: center;
  z-index: var(--z-modal);
}

.modal {
  width: 100%;
  max-width: 360px;
  background: var(--bg-modal);
  border: 1px solid var(--border-modal);
  border-radius: var(--radius-md);
  padding: 16px;
  box-shadow: 0 20px 40px var(--btn-shadow);
}

.title {
  margin: 0 0 var(--space-sm);
  font-size: var(--txt-lg);
}

.message {
  font-size: var(--txt-md);
  color: var(--text-primary);
  margin-bottom: var(--space-fl);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-sm);
}

pre {
  border-left: 4px solid var(--border-fat);
  padding: 0.6rem var(--space-fl);
  background: var(--bg-main);
  margin: 0.8rem 0;
  border-radius: var(--radius-sm);
  overflow: auto;
}

code {
  background: var(--bg-main);
  padding: .15rem .3rem;
  border-radius: var(--border-subtle);
  font-family: var(--font-family-mono);
  font-size: var(--txt-lg);
}

table {
  width: var(--full-width);
  border-collapse: collapse;
  margin: var(--space-lg) 0;
}

th,
td {
  border: 1px solid var(--border-subtle);
  padding: var(--space-md);
  text-align: left;
  font-size: var(--txt-md);
}

thead th {
  background: var(--bg-light);
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

.card {
  padding: var(--space-lg);
  background: var(--bg-card);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-card);
}

.card h3 {
  margin-bottom: 0.1rem;
  font-size: var(--txt-sm);
  color: var(--text-heading);
}

.callout,
blockquote {
  padding: 0.6rem 1rem;
  margin: 0.8rem 0;
  border-radius: var(--radius-sm);
  border-left: 4px solid var(--border-fat);
  background: var(--bg-main);
}

form {
  margin: 1rem 0;
  font-size: var(--txt-md);
}

.form-row {
  display: flex;
  gap: .75rem;
  align-items: center;
  margin: var(--space-md) 0;
}

input[type="text"],
textarea,
select {
  padding: .33rem .6rem;
  background-color: var(--bg-input);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-sm);
  color: inherit;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: var(--mid);
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  /* border-color: var(--bg-main); */
}

input[type="text"]:focus-within {
  /* background-color: var(--bg-secondary); */
  border-color: var(--border-semi);
  box-shadow: 0 3px 9px var(--btn-shadow);
}

select {
  background-size: 1rem;
  padding-right: 2rem;
  color: var(--text-muted);
  border: 2px solid transparent;
  min-width: 250px;
}

#role:hover {
  border: 2px solid var(--border-semi);
}

#role:focus {
  outline: none;
}

/* Style the actual dropdown "box" (the picker) */
select::picker(select) {
  color: var(--text-muted);
  background-color: var(--bg-surface);
  border: 2px solid var(--border-semi);
  border-radius: 6px;
  padding: 5px;
}

.chart-card {
  background-color: var(--bg-card);
  border: 1px solid var(--border-card);
  margin-top: .5rem;
  border-radius: var(--radius-lg);
  padding: 16px;
}

h3.chart-title {
  margin: 0 0 var(--space-md);
  font-size: var(--txt-md);
  font-weight: 800;
  text-align: center;
}

/* Content styles for standard pages */
.content-prose {
  max-width: 80ch;
  margin: var(--space-fl) auto;
}

.content-prose p,
figcaption {
  font-size: var(--txt-md);
  margin-bottom: var(--space-fl);
}

.content-prose li {
  font-size: var(--txt-lg);
}

.content-prose h1,
.content-prose h2,
.content-prose h3 {
  margin-top: 1.25rem;
  margin-bottom: var(--space-md);
}

.icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 560px) {
  .content-prose {
    padding: var(--space-lg);
  }

  .form-row {
    flex-direction: column;
    align-items: stretch;
  }
}
