:root[data-theme="dark"] {

    /* layout */

  /* colors */
  --bg-app: #1e1e1e;
  --bg-surface: #252526;
  --border-subtle: #2f2f2f;
  --yellow: #ffa600;
  --orange: #ff7c43;
  --pink: #f95d6a;
  --red: #d45087;
  --fushia: #a05195;
  --purple: #665191;
  --blue: #003f5c;


  /* buttons */

  
}