:root {

  /* layout */
  --footer-height: 60px;
  --full-height: 100vh;
  --full-width: 100%;
  --border-transparent: 1px solid transparent;

  /* buttons */
  --btn-shadow: rgba(9, 9, 9, 0.25);
  --shadow-button: rgba(165, 99, 241, 0.15);

  /* fonts */
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-family-mono: "Fira Code", "Fira Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace;
  --txt-md: .75rem;
  --txt-lg: 1rem;
  --txt-sm: .5rem;

  /* radius */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;

  /* spacing */
  --space-xs: .25rem;
  --space-sm: .33rem;
  --space-md: .5rem;
  --space-lg: .75rem;
  --space-fl: 1rem;

  /* z-index layers */
  --z-modal-backdrop: 900;
  --z-modal-layout: 950;
  --z-modal: 1000;
  --z-tooltip: 1100;

  /* Color */
    --mid: #73737b;
    --border-semi: #58508d45;

    
}