html,
body,
#app {
  font-family: system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.25;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

[hidden] {
  display: none !important;
}

ul,
ol {
  padding-left: 1.25rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  background-color: #161616;
  color: white;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

header ul li a {
  font-family: "Space Grotesk", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

footer {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: #0a194c;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}